<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
        About <%- info.name.split(' ')[0] %>
        <br>
        Full Name: <%- info.name %>
        <br>
        Occupation: <%- info.occupation %>
        <br>
        Age: <%- info.age %>
        <br>
        Signature clothing item: <%- info.clothing %>
        <br>
        <%- include('footer') %>
    </body>
</html>